<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script type='text/javascript'>
        Highcharts.setOptions({
            global: {
                useUTC: true
            }
        });
        // todo: get this from callback or passed in
        var names = {{sensor_names|safe}};

        $(function () {

            var seriesOptions = [];
            var loadedCount = 0;

            /**
             * Load new data depending on the selected min and max
             */
            function afterSetExtremes(e) {
                $.each(names, function (i, name) {
                    var chart = $('#container').highcharts();
                    var start = Math.round(e.min);
                    var end = Math.round(e.max);

                    $.getJSON(window.location.protocol + '//' + window.location.host + '/jquery_data?start=' + start +
                    '&end=' + end +
                    '&name=' + name +
                    '&callback=?', function (data) {
                        console.log("in callback for async refresh of " + name + " between " + start + " and " + end);
                        seriesOptions[i] = {
                            name: name,
                            data: data
                        };
                        chart.series[i].setData(data);
                    });
                });
            }

            createChart = function () {
                // create the chart
                $('#all').highcharts('StockChart', {
                    chart: {
                        zoomType: 'x',
                    },

                    navigator: {
                        adaptToUpdatedData: false,
                        series: {
                            data: seriesOptions[0].data
                        }
                    },

                    scrollbar: {
                        liveRedraw: false
                    },

                    title: {
                        text: 'Historical Temp'
                    },

                    rangeSelector: {
                        selected: 1 // all
                    },

                    tooltip: {
                        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b><br/>',
                        valueDecimals: 2
                    },

                    xAxis: {
                        events: {
                            afterSetExtremes: afterSetExtremes
                        },
                        minRange: 60 * 1000
                    },
                    series: seriesOptions
                });
            };

            $.each(names, function (i, name) {
                $.getJSON(window.location.protocol + '//' + window.location.host + '/jquery_data?start=' + {{ week_millis }} +
                    '&name=' + name +
                    '&callback=?', function (data) {
                        seriesOptions[i] = {
                            name: name,
                            data: data
                        };
                        loadedCount += 1;

                        console.log("loading " + name + " loaded count is " + loadedCount);

                        if (loadedCount === names.length) {
                            createChart();
                        }
                    });
            });
        });


        $(function () {
            var seriesOptions = [];
            var loadedCount = 0;

            createLiveChart = function () {
                // create the chart
                $('#live').highcharts('StockChart', {
                    chart: {
                        zoomType: 'x',
                        events: {
                            load: function () {
                                var chart = this;
                                var lookbackMillis = 30000;
                                setInterval(function () {
                                    console.log("starting async append");
                                    $.each(names, function (i, name) {
                                        var start = (new Date).getTime() - lookbackMillis;

                                        $.getJSON(window.location.protocol + '//' + window.location.host + '/jquery_data?start=' + start +
                                        '&name=' + name +
                                        '&callback=?', function (data) {
                                            console.log("starting async append callback for " + name + " utc " + start);
                                            if (data == null) {
                                                console.log("bailing, null data");
                                                return;
                                            }
                                            for (var j = 0; j < data.length; j++) {
                                                chart.series[i].addPoint(data[j], false, true);
                                                console.log("adding point at " + data[j][0] + " val " + data[j][1] + " for " + chart.series[i].name);
                                            }
                                            chart.redraw();
                                            console.log("after redraw");
                                        });
                                    });
                                }, lookbackMillis);
                            }
                        }
                    },

                    navigator: {
                        adaptToUpdatedData: true,
                        series: {
                            data: seriesOptions[0].data
                        }
                    },

                    scrollbar: {
                        liveRedraw: true
                    },

                    title: {
                        text: 'Live Temp'
                    },

                    rangeSelector: {
                        selected: 1 // all
                    },

                    tooltip: {
                        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b><br/>',
                        valueDecimals: 2
                    },

                    xAxis: {
                        events: {
                            //afterSetExtremes: afterSetExtremes
                        },
                        minRange: 60 * 1000
                    },
                    series: seriesOptions
                });
            };

            $.each(names, function (i, name) {
                $.getJSON(window.location.protocol + '//' + window.location.host + '/jquery_data?start=' + {{yesterday_millis}} +
                            '&name=' + name +
                            '&callback=?', function (data) {
                                seriesOptions[i] = {
                                    name: name,
                                    data: data
                                };
                                loadedCount += 1;

                                console.log("loading " + name + " loaded count is " + loadedCount);

                                if (loadedCount === names.length) {
                                    createLiveChart();
                                }
                            });
            });
        });
    </script>
<div id='live' style='width: 900px; height: 500px;'></div>
<div id='all' style='width: 900px; height: 500px;'></div>
</html>