<html>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
    <script type='text/javascript'>
        Highcharts.setOptions({
            global: {
                useUTC: true
            }
        });

        $(function () {
            var names = ['FrontPorch3', 'GalaxyTemp', 'GuestTempLight'];
            var seriesOptions = [];
            var loadedCount = 0;

            /**
             * Load new data depending on the selected min and max
             */
            function afterSetExtremes(e) {
                $.each(names, function (i, name) {
                    var chart = $('#container').highcharts();

                    $.getJSON('http://' + window.location.host + '/jquery_data?start=' + Math.round(e.min) +
                    '&end=' + Math.round(e.max) +
                    '&name=' + name +
                    '&callback=?', function (data) {
                        seriesOptions[i] = {
                            name: name,
                            data: data
                        };
                        chart.series[i].setData(data);
                    });
                });
            }

            createChart = function () {
                // create the chart
                $('#container').highcharts('StockChart', {
                    chart: {
                        zoomType: 'x'
                    },

                    navigator: {
                        adaptToUpdatedData: false,
                        series: {
                            data: seriesOptions[0].data
                        }
                    },

                    scrollbar: {
                        liveRedraw: false
                    },

                    title: {
                        text: 'AAPL history by the minute from 1998 to 2011'
                    },

                    subtitle: {
                        text: 'Displaying 1.7 million data points in Highcharts Stock by async server loading'
                    },

                    rangeSelector: {
                        selected: 1 // all
                    },

                    tooltip: {
                        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b><br/>',
                        valueDecimals: 2
                    },

                    xAxis: {
                        events: {
                            afterSetExtremes: afterSetExtremes
                        },
                        minRange: 60 * 1000
                    },

                    yAxis: {
                        floor: 0
                    },

                    series: seriesOptions
                });
            };

            $.each(names, function (i, name) {
                var chart = $('#container').highcharts();

                $.getJSON('http://' + window.location.host + '/jquery_data?start=' + {{ start_millis }} +
                '&name=' + name +
                '&callback=?', function (data) {
                    seriesOptions[i] = {
                        name: name,
                        data: data
                    };
                    loadedCount += 1;

                    console.log("loading " + name + " loaded count is " + loadedCount);

                    if (loadedCount === names.length) {
                        createChart();
                    }
                });
            });

        });
    </script>
<div id='container' style='width: 900px; height: 500px;'></div>
</html>